.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a45;
    height: 50px;
    width: 100%;

}

.navbar-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}
.nav-item{
    margin: 0 5px;

}
.nav-link{
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    color: grey;
}